/**
  Add core to your component for extend the functionality or use with webpack

  Rules:
  * All mixins must have $m- prefix
  * All global color variables must have $c- prefix
  * All global z-index variables must have $z- prefix
  * All other global variables must have $v- prefix
*/

use('lib')
@import "settings"
@import "tools"
