textarea, select, input {

  &:hover {

  }

  &:focus {

  }
}

input[type=submit]:focus {

}

::-webkit-input-placeholder {

}

::-moz-placeholder {

}

:-ms-input-placeholder {

}

:-moz-placeholder {

}
