/*
  origin: https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

  Core
    * Settings: Global variables, config switches.

    * Tools: Mixins and functions.

    * lib: Js functions

  Vendor: List of vendor styles.

  Base: Unclassed HTML elements.

  Blocks: BEM classes.

  Trumps: Helpers and overrides.
*/

@import "core"
@import "vendor"
@import "base"
@import "blocks"
@import "trumps"
