$c-background           = #4a4a4a
$c-error                = #FF4F4F
$c-text                 = #5f6368
$c-placeholder          = #b9bdc2
$c-border               = #d2d6de
$c-blue                 = #233a5e
