$v-base-size            = 16px;
$v-border-radius        = 3px;

$v-header-height        = 100px;
$v-footer-height        = 100px;
$v-content-height       = "calc(100% - %s)" % ($v-header-height + $v-footer-height);
